*{
    margin: 0%;
    padding: 0%;
    font-family: "Lexend Deca", sans-serif;
}
.cover{
    background-image: url("../image/galaxy1.JPG");background-size: cover;
    background-position: center;
    filter: brightness(100%);
    height: 100vh;
}
.cover h1{
    color: cyan;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}
.description{
    color: aliceblue;
    font-size: 20px;

}
 #table{
    color: aliceblue;
    display: flex;
    justify-content:center;
    padding: 7vh;
}
th {
    color:aqua;
  }

  td {
      color: aqua;
  }
  .input{
      color: aliceblue;
  }


  tr,
  th,
  td {
    border:2px solid cyan;
    padding: 2vh 5vw;
    font-size: 14px;
  }
  a:hover{
    color: aqua;
    font-size: 22px;  
  }
  #outPut{
      padding-left: 100px;
  }

